:root {
    --color-aqua: #00ffff;

}

@font-face {
    font-family: 'Sansita';
    src: url(src/SansitaOne.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sansita';
    background-color: #EEE9E9;
}

.img_logo_header {
    width: 5em;

}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.text_nav {
    font-size: 25px;
    position: absolute;
    left: 100px;
    width: 200px;
    color: #EEE9E9;
}

.navigators {
    display: flex;
    margin: 25px;
    padding: 5px;
    width: 300px;
    justify-content: space-between;
}

.header {
    justify-content: space-between;
    padding: 0 0;
    background-color: #40A798;
}

.navigation_header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 1s;
}

.navigation_header a:hover {
    color: black;
}

.content {
    display: flex;
    color: #40A798;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 5em;
    height: 10vh;
    transition: 1s;
}

.content h1 {
    font-size: 60px;
    text-shadow: 2px 2px black;
}

.img_cachorro {
    height: 200px;
    margin-left: 20px;
}

.third_content {
    display: flex;
    background-color: #EEE9E9;
    justify-content: center;
    align-items: center;
    height: 280px;
}

.services {
    background-color: #40A798;
    height: 100%;
    width: 85%;
    border-radius: 25px;
}

.second_content {
    display: flex;
    background-color: #FF5C00;
    color: white;
    height: 35vh;
    justify-content: space-between;
    align-items: center;
}

.text_second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth_content {
    display: flex;
    color: #40A798;
    height: 35vh;
    justify-content: space-around;
    align-items: center;
}

.text_fourth {
    font-size: 20px;
    width: 400px;
    display: flex;
    align-items: center;
}

.login_button {
    display: flex;
    background-color: #40A798;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.login_button a {
    font-size: 20px;
    color: #EEE9E9;
    text-decoration: none;
    transition-duration: 1s;
}

.login_button a:hover {
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40A798;
    color: #EEE9E9;
    height: 10vh;
    padding-right: 25px;
}

.text_footer {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.img_footer_container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 350px;
}

@media screen and (max-width: 500px) {
    h1 {
        color: black;
    }
}