:root {
    --color-aqua: #00ffff;

}

@font-face {
    font-family: 'Sansita';
    src: url(src/SansitaOne.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sansita';
    background-color: #EEE9E9;
}

.logo_header {
    display: flex;
    flex-direction: row;
    width: clamp(60px, 15vw, 200px);
    margin-left: 1vw;
}
.logo_header p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    font-weight: bold;
    font-size: clamp(15px, 1.3vw, 30px);
    transition-duration: 1s;
    color: #EEE9E9;
}

.header {
    display: flex;
    height: clamp(50px, 20vw,100px);

}

.header {
    justify-content: space-between;
    padding: 0 0;
    background-color: #40A798;
}

.navigation_header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: clamp(100px,60vw,600px);
}
.navigation_header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: clamp(15px, 1.3vw, 30px);
    transition-duration: 1s;
}

.navigation_header a:hover {
    color: black;
}

.content {
    display: flex;
    color: #40A798;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: clamp(20px, 10vw, 40px);
    transition: 1s;
}

.content h1 {
    font-size: clamp(15px, 6vw, 60px);
    text-shadow: 2px 2px black;
    transition: 1s;
}

.services {
    background-color: #40A798;
    height: 100%;
    width: 85%;
    border-radius: 25px;
}

.second_content {
    display: flex;
    background-color: #EEE9E9;
    justify-content: center;
    align-items: center;
    height: 20vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.img_cachorro {
    height: 20vw;
    margin: 1vw;
}

.third_content {
    display: flex;
    background-color: #FF5C00;
    color: white;
    height: 30vw;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vw;
}

.text_second {
    margin-left: 3vw;
}
.text_second p {
    margin-top: 1vw;
    font-size: clamp(12px, 2.5vw, 25px);
}

.text_second h1 {
    font-size: clamp(15px, 5vw, 40px);
}

.fourth_content {
    display: flex;
    color: #40A798;
    height: 20vw;
    justify-content: center;
    align-items: center;
}

.text_fourth {
    font-size: clamp(20px, 3vw, 50px);
    width: 30vw;
    display: flex;
    align-items: center;
}

.login_button {
    display: flex;
    background-color: #40A798;
    border-radius: 30px;
    height:clamp(50px, 5vw, 200px);
    width: clamp(100px, 12vw, 200px);
    align-items: center;
    justify-content: center;
}

.login_button {
    font-size: clamp(10px, 2vw, 20px);
    color: #EEE9E9;
    text-decoration: none;
    transition-duration: 1s;
}

.login_button:hover {
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40A798;
    color: #EEE9E9;
    height: clamp(15px, 10vw, 100px);

}

.text_footer h1 {
    font-size:clamp(5px, 3vw, 30px);
    margin-left: 2vw;
}
.img_footer_container {
    display: flex;
    justify-content: space-between;
    width: clamp(200px, 60vw, 350px);
    margin-inline: 5vw;
}
.img_footer_container img{
    width: clamp(15px, 7vw, 100px);
}